/* CSS tùy chỉnh cho DataGrid */
.custom-datagrid {
    height: 400px;
    width: 100%;
  }
  
  /* CSS tùy chỉnh cho các ô dữ liệu */
  .custom-datagrid .MuiDataGrid-cell {
    padding: 8px;
  }
  
  /* CSS tùy chỉnh cho tiêu đề cột */
  .custom-datagrid .MuiDataGrid-colCell {
    font-weight: bold;
    background-color: #f0f0f0;
  }
  
  /* CSS tùy chỉnh cho hàng được chọn */
  .custom-datagrid .Mui-selected {
    background-color: #e0e0e0;
  }
  .btnUpdate{
    width: 80px;
    border: none;
    outline: none;
    background: transparent;
    color: black;
  }  .btnSearch{

    width: 45px;
    height: 45px;
border: none; 
    outline: none;
    background: transparent;
    color:rgb(7, 11, 230);
  

}
  .btnDelete{
    width: 80px;
    border: none;
    outline: none;
    background: transparent;
    color: red;
  }
  .btnCreate{
    width: 45px;
    height: 45px;
    
    outline: none;
    background: transparent;
    color:green;
  }

  .MuiTablePagination-selectLabel, .MuiTablePagination-displayedRows {
    margin: 0 auto !important;
  }
  .custom-datagrid  {
    height: 700px;
  }

  .form-container {
    margin-top:  150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px; /* Điều chỉnh chiều cao theo ý muốn */
  }
  
  .form-container form {
    height: 700px;
    width: 700px;
    max-width: 600px; /* Điều chỉnh độ rộng tối đa của form */
    padding: 20px;
    margin-top: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  