.form-changepassword {
    margin-top: 100px;
    display: flex;
    justify-content: center; /* Hiển thị form ở giữa màn hình theo chiều ngang */
    align-items: center; /* Hiển thị form ở giữa màn hình theo chiều dọc */
    height: 500px; /* Chiều cao 100% của viewport */
  }
  
  .body {
    width: 300px; /* Độ rộng của form */
    height: 300px; /* Độ cao của form */
  }
  
  .ChangePasswordTitle {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .CForm {
    width: 100%; /* Chiều rộng 100% của form bên trong */
  }
  
  .CFormInput {
    width: 100%;
  }
  
  .CButton {
    width: 50px;
    margin-top: 20px;
  }